// Sections
@import 'style';   // landing page
@import 'login';  // login page
@import 'register'; // register page
@import 'information'; //information page
@import 'AdminDashboard'; //Admin Dashboard page
@import 'userEdit'; //User Edir Page
@import 'inventory';
